apiVersion: v1
kind: Service
metadata:
  name: ignite-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    app: ignite
  ports:
    - name: rest
      port: 10300
      targetPort: 10300
      nodePort: 30300
    - name: thin-client
      port: 10800
      targetPort: 10800
      nodePort: 30800
