apiVersion: v1
kind: Service
metadata:
  name: ignite-svc-headless
  namespace: default
spec:
  clusterIP: None
  selector:
    app: ignite
  ports:
    - name: discovery
      port: 3344
      targetPort: 3344
