apiVersion: v1
kind: Service
metadata:
  name: memcached-nodeport
  namespace: default
  labels:
    easydblab/kit: memcached
spec:
  type: NodePort
  selector:
    app: memcached
  ports:
    - name: memcached
      port: 11211
      targetPort: 11211
      nodePort: 31211
