apiVersion: v1
kind: Service
metadata:
  name: neo4j-nodeport
  namespace: default
  labels:
    easydblab/kit: neo4j
spec:
  type: NodePort
  selector:
    app: neo4j
  ports:
    - name: bolt
      port: 7687
      targetPort: 7687
      nodePort: 30687
    - name: http
      port: 7474
      targetPort: 7474
      nodePort: 30474
