apiVersion: v1
kind: Service
metadata:
  name: __KIT_NAME__-nodeport
  namespace: default
spec:
  type: NodePort
  selector:
    cnpg.io/cluster: __KIT_NAME__
    cnpg.io/instanceRole: primary
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
      nodePort: __POSTGRES_PORT__
    - name: metrics
      port: 9187
      targetPort: 9187
      nodePort: __METRICS_PORT__
