apiVersion: v1
kind: ConfigMap
metadata:
  name: otel-stress-sidecar-config
  namespace: default
  labels:
    app.kubernetes.io/name: otel-stress-sidecar
data:
  otel-stress-sidecar-config.yaml: |
    receivers:
      prometheus:
        config:
          scrape_configs:
            - job_name: 'cassandra-stress'
              scrape_interval: 5s
              static_configs:
                - targets: ['localhost:9500']
              relabel_configs:
                - target_label: instance
                  replacement: '${env:K8S_NODE_NAME}:9500'
                - target_label: cluster
                  replacement: '${env:CLUSTER_NAME}'

    processors:
      batch:
        timeout: 10s

    exporters:
      otlp:
        endpoint: ${env:HOST_IP}:4317
        tls:
          insecure: true

    service:
      pipelines:
        metrics:
          receivers: [prometheus]
          processors: [batch]
          exporters: [otlp]
