apiVersion: v1
kind: Service
metadata:
  name: pyroscope
  namespace: default
  labels:
    app.kubernetes.io/name: pyroscope
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 4040
      targetPort: 4040
      protocol: TCP
  selector:
    app.kubernetes.io/name: pyroscope
