apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-cluster-config
  namespace: default
  labels:
    app.kubernetes.io/name: clickhouse-server
data:
  # Default value, will be updated by ClickHouseStart command
  replicas-per-shard: "3"
